#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  display: grid;
  height: 100vh;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.body-container > * {
  border: 1px grey solid;
}

div {
  border: 1px red solid;
}
